* {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    margin: 0;
    background-color: #202124;
    color: blanchedalmond;
}

.pages {
    display: grid;
    grid-gap: 1rem;
}

.page {
    border: solid 0.1rem;
    text-align: center; /* For debugging */
}

.auth-flexbox {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4rem 0rem;
}

.auth-grid {
    display: grid;
    grid-gap: 0.75rem;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(5rem, 8rem));
    background-color: antiquewhite;
    border: solid 0.1rem grey;
    border-radius: 16px;
    min-height: 14rem;
    padding:  2rem;
}


#title {
    margin: 0;
    grid-column: 1 / span 2;
}

.input-elem {
    border: none;
    grid-column: 1 / span 2;
}


.main-grid {
    display: grid;
    height: 100dvh;
    grid-template-columns: minmax(1rem, 20rem) auto;
    grid-template-rows: 5rem auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    grid-column: 1 / span 2;
    border: solid 0.1rem;
}

.list-icon {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

.notes-list {
    display: grid;
    align-content: start;
    border: solid 0.1rem;
}

.note-item {
    margin: 0.5rem;
    border-radius: 16px;
}

.note-viewbox {
    display: grid;
    grid-template-rows: 4rem 1fr;
}

.note-bar {
    display: flex;
    justify-content: space-between;
}

#note-textbox {
    padding: 0;
    margin: 0;
    resize: none;
    border: none;
    background-color: #202124;
    color: blanchedalmond;
    border: solid 0.1rem;
}
